# Java Files #
*.class

# Package Files #
# *.jar, we need to checkin gradle/wrapper/gradle-wrapper.jar
*.war
*.ear

# Eclipse files #
.settings
.classpath
.project

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Gradle files #
.gradle
gradle
build

target
out
logs
data
/bin/
